header{
    position: fixed;
    top: 0;
    /* left: 0; */
    text-align: center;
    background-color: #808080;
    height: 100px;
    width: 100%;
    /* margin-top: auto;
    margin-bottom: auto; */
}

#p{
    width:100px;
}

#img{
    width: 235px;
    height: 235px;
    /* border-radius: 3%; */
    margin-bottom: 30px;
}

.profile_post_container{
    /* width: 200px; */
    /* width: calc(33.3% - 10px); */
    /* width: calc(33.3% - 10px); */
    width: 200px;
    margin: 5px;
}

.profile_posts_container{
    /* text-align: center; */
    width: 854px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    /* width: 1000px; */
}


#a{
    text-decoration: none;
}

.profile_image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 150px;
    margin-bottom: 200px;
}

#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#username_container{
    font-size: 30px;
    padding-right: 20px;
}

.menu_container{
    padding-top: 27px;
    color: black;
    /* margin-bottom: auto; */
}

.fas{
    color: rgb(211, 178, 178);
    width: 150px;
    height: 50px;
    font-size: 1.2em;
} 

#posts_count{
    width: 100px;
}



